body{
    background:linear-gradient(rgb(7, 99, 7), rgb(206, 206, 16));
}

html{
    background-color: rgb(206, 206, 16) ;
}

header{
    background-color: white;
}

main{
    padding: 1rem;
    font-weight: 700;
    font-size: 1rem;
}

ul{
    border: 1px solid white;
    box-shadow: 1px 1px 1px black;
    padding: 3rem;
    border-radius: 10px;
}